body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(spring-flower-frame-background-free-vector.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    font-family: 'Dancing Script' , cursive;
    font-size: 40px;
    flex: 2;
}

.logo {
    width: 70px;
    height: 70px;
    flex: 1;
    margin-top: 20px;
}

#headContainer {
    display: flex;
    justify-content: space-between;
    width: max-content;
    white-space: nowrap;
    gap: 20px;
}